
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
}

label {
  margin-right: 5px;
  margin-left: 12px;
}

select, button {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

select:focus, button:focus {
  outline: none;
  box-shadow: 0 0 3px #2196f3;
}

button[type="submit"] {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #1565c0;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.filters label {
  margin-right: 10px;
  font-weight: bold;
}

.submit{
  margin: 10px;
  border-radius: 10%;
}

.fav-button{
  width: 180px;
  margin-top: auto;
  margin-bottom: auto;
}

.eye-icon{
  margin-right: 5px;
}

.shelter-list{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 2rem;
  padding: .25rem;
  display: flex;
  flex-wrap: wrap;
}

.shelter-link{
  margin: 10px;
  flex-basis: calc(25% - 20px);
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.shelter-link:hover{
  text-decoration: underline;
  cursor: pointer;
}


