:root {
  --color-primary: rgba(255, 207, 118, 1);
  --color-secondary: rgba(255, 207, 118, 0.5);
  --color-accent: #ff960c;

}

#error-message {
  background-color: #ffcccc;
  color: #d8000c;
  padding: 10px; 
  border: 1px solid #d8000c; 
  border-radius: 5px; 
  font-size: 16px; 
  margin: 10px; 
}


.donacion {
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-primary) 100%);
}

.body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  
}

.form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-buttons{
  display: flex;
}

.submitButton{
  margin-right: 10px;
}

.button-container{
  display: flex;
  cursor: pointer;
}


.expanded-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.expanded-button,
.deleteButton {
  margin-bottom: 2rem;
  margin: 1rem;
  width: 32%;
  height: 3rem;
}
.button-icon{
  margin-right: .5rem;
}

.add-post-icon, .see-post-icon{
  margin-right: .5rem;
}

#expanded-button{
  border-radius: 19px;
  font-size: 20px;
}
