:root {
  --color-primary: rgba(255, 207, 118, 1);
  --color-secondary: rgba(255, 207, 118, 0.5);
  --color-accent: #ff960c;
}

#error-message {
  background-color: #ffcccc;
  color: #d8000c;
  padding: 10px; 
  border: 1px solid #d8000c; 
  border-radius: 5px; 
  font-size: 16px; 
  margin-bottom: 10px; 
}


.donacion {
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-primary) 100%);
}

.body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-buttons{
  display: flex;
}

.submitButton{
  margin-right: 10px;
}

.button{
  height: 100px;
  margin: 1rem;
}

.custom-card {
  margin: 1rem;
  width: calc(33.33% - 2rem);
  background-color: #f0f0f0;
}

.custom-card:hover {
  background-color: #e2e6ea; 
  border-color: var(--color-accent); 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.card-title{
  text-transform: uppercase;
  color: var(--color-accent);
}

.check label{
  font-size: 19px;
}


 .expanded-buttons{
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: auto;
  margin-top: 20px;
}

.expanded-button{
  margin: 7px;
}
.deleteButton{
  margin: 7px;
}

#expanded-button{
  border-radius: 19px;
  font-size: 20px;
}
