.profile-card {
  padding: 16px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 4px;
}

.profile-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile-card-name {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.profile-card-email {
  font-size: 19px;
  margin-bottom: 4px;
  color: #666;
}

.profile-card-number {
  font-size: 19px;
  margin-bottom: 4px;
  color: #666;
}

.profile-card-description {
  font-size: 19px;
  margin-bottom: 4px;
  color: #666;
}

.pencil{
  margin-left:10px;
  cursor: pointer;
}
