
.post-expanded {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}

.post-expanded h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-title{
  justify-content: center;
  align-items: center;
  display: flex;
}


.post-info , .shelter-info {
  font-size: 20px;
  padding: 1rem;
  width: 45%;
  background-color: rgb(252, 243, 243);
  border-radius: 10px;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.pic-info{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.dog-pic {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
}

.post-actions button {
  margin-right: 10px;
}

.see-shelter-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
}
