
.post-expanded {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.post-expanded h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-info , .shelter-info {
  font-size: 20px;
  padding: 1.2rem;
  width: 45%;
  background-color: rgb(252, 243, 243);
  border-radius: 10px;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.pic-info{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pic {
  display: flex;
  margin-top: 1rem;
}

.dog-pic {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
}

.post-actions button {
  margin-right: 10px;
}

.see-shelter-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
}

.comments-area{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  margin-bottom: 0;
}

.textBox-share, .comments{
  width: 45%;
  margin: 2rem;
}

.textBox-share .textArea{
  width: 100%;
  margin-bottom: 1rem;
  resize: none;
  background-color: rgb(252, 243, 243);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.comments .comment-box{
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;
  padding: .5rem;
  background-color: rgb(252, 243, 243);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comments-container{
  padding: 2px;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination .page-link {
  margin: 0 5px;
}

.pagination .page-link.active {
  font-weight: bold;
}

.adoption-request-icon {
  margin-right: 5px;
  margin-bottom: 3px;
  font-size: 20px;
}

.adoption-request-icon-sent {
  margin-right: 5px;
  margin-bottom: 3px;
  font-size: 20px;
  color: rgb(21, 255, 0);
}

#adoption-request-button {
  margin-top: 1rem;
  background-color: #007bff;
}

#adoption-request-button-sent {
  margin-top: 1rem;
  background-color: green;
  border: none;
  pointer-events: none;
  opacity: 95%;
}

.whatsapp-share, .ig-share{
  margin-top: 2rem;
  margin-left: 1rem;
}

.share-icon{
  font-size: 20px;
}

.request{
  margin-top: 20px;
}

