.shelter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 207, 118, 1) 0%, rgba(255, 207, 118, 0.5) 50%, rgba(255, 207, 118, 1) 100%);
}

.shelter-body {
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 95%;
}

.shelter-name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.shelter-description {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.shelter-phone {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.donated-posts, .active-posts {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(45% - 10px);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: 2rem;
  justify-content: flex-start;
}

.donated-posts .custom-card , .active-posts .custom-card{
  flex: 0 0 calc(45% - 10px);
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
}

.donated-posts .custom-card:hover , .active-posts .custom-card:hover{
  background-color: rgb(255, 255, 255);
}

.donated-posts .donated-posts-title , .active-posts .active-posts-title {
  flex-basis: 100%;
  font-size: 1.8rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.phone-icon{
  margin-right: 7px;
  margin-bottom: 3px;
}

.no-history{
  margin:1rem;
  font-size: 70px;
  text-align: center;
}

.postsAndComments{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
  width: 95%;
}

.shelter-comments .textArea{
  margin-bottom: 1rem;
  margin-top: 1rem;
  resize: none;
  background-color: rgb(252, 243, 243);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rating-comments{
  flex: 0 0 calc(45% - 10px);
  margin: 2rem;
}

.shelter-comments, .rating{
  width: 100%;
}

.n-reviews{
  font-size: medium;
  margin-top: .5rem;
}

.stars{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating{
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(252, 243, 243);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rating p{
  text-align: center;
  margin-top: 1rem;
  margin-right: 10px;
}

.button{
  margin-top: 24px;
}

/* Example styles to make the MercadoPago button smaller */
#wallet_container  {
  width: 50%;
  margin: auto;
}


